# Принудительно использовать CRLF для батников (Windows формат)
*.bat text eol=crlf
*.ps1 text eol=crlf
*.cmd text eol=crlf

# На всякий случай для других конфигов
*.conf text eol=lf
*.yaml text eol=lf
Dockerfile text eol=lf