# file: system/docker-compose.yaml V1.7
services:
  builder-openwrt:
    build:
      context: ..
      dockerfile: system/dockerfile
    environment:
      - CONF_FILE=${SELECTED_CONF}
    volumes:
      - imagebuilder-cache:/cache
      - ipk-cache:/builder_workspace/dl
      - ../${HOST_PKGS_DIR}:/input_packages
      - ../${HOST_FILES_DIR}:/overlay_files
      - ../${HOST_OUTPUT_DIR}:/output
      - ../profiles:/profiles
      - ./openssl.cnf:/openssl.cnf
      - ./ib_builder.sh:/ib_builder.sh
    command: /bin/bash /ib_builder.sh

  builder-oldwrt:
    build:
      context: ..
      dockerfile: system/dockerfile.legacy
    environment:
      - CONF_FILE=${SELECTED_CONF}
    volumes:
      - imagebuilder-cache:/cache
      - ipk-cache:/builder_workspace/dl
      - ../${HOST_PKGS_DIR}:/input_packages
      - ../${HOST_FILES_DIR}:/overlay_files
      - ../${HOST_OUTPUT_DIR}:/output
      - ../profiles:/profiles
      - ./openssl.cnf:/openssl.cnf
      - ./ib_builder.sh:/ib_builder.sh
    command: /bin/bash /ib_builder.sh

volumes:
  imagebuilder-cache:
  ipk-cache: