# file: system/docker-compose-src.yaml v2.6
services:
  builder-src-openwrt:
    build:
      context: ..
      dockerfile: system/src.dockerfile
    # FIX: Добавляем и сюда для страховки от строгих ядер
    security_opt:
      - seccomp:unconfined
    user: "root"
    environment:
      - CONF_FILE=${SELECTED_CONF}
      - CCACHE_DIR=/ccache
    volumes:
      - src-workdir:/home/build/openwrt
      - src-dl-cache:/home/build/openwrt/dl
      - src-ccache:/ccache
      - ../profiles:/profiles      
      - ../${HOST_PKGS_DIR}:/input_packages
      - ../${HOST_PATCHES_DIR}:/patches
      - ../${HOST_FILES_DIR}:/overlay_files
      - ../${HOST_OUTPUT_DIR}:/output
      - ./openssl.cnf:/openssl.cnf
      - ./src_builder.sh:/src_builder.sh
    command: /bin/bash /src_builder.sh

  builder-src-oldwrt:
    build:
      context: ..
      dockerfile: system/src.dockerfile.legacy
    # FIX: Критически важно для Ubuntu 18.04 container on Ubuntu 24.04 Host
    security_opt:
      - seccomp:unconfined
    user: "root"
    environment:
      - CONF_FILE=${SELECTED_CONF}
      - CCACHE_DIR=/ccache
    volumes:
      - src-workdir:/home/build/openwrt
      - src-dl-cache:/home/build/openwrt/dl
      - src-ccache:/ccache
      - ../profiles:/profiles
      - ../${HOST_PKGS_DIR}:/input_packages
      - ../${HOST_PATCHES_DIR}:/patches
      - ../${HOST_FILES_DIR}:/overlay_files
      - ../${HOST_OUTPUT_DIR}:/output
      - ./openssl.cnf:/openssl.cnf
      - ./src_builder.sh:/src_builder.sh
    command: /bin/bash /src_builder.sh

volumes:
  src-dl-cache:
  src-workdir:
  src-ccache: